<div class="container">
    <div class="tableview">
  <h2>Add Form Data</h2>
    <div class="addbtn">
        <form [formGroup]="dataForm">
            <div class="row">
                <div class="col-sm-2">
                    <label>Completed</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" formControlName="completed" [(ngModel)]="formData.completed">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Id</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" formControlName="id" [(ngModel)]="formData.id">
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Title</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" formControlName="title" [(ngModel)]="formData.title">
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>User Id</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" formControlName="userid" [(ngModel)]="formData.userId">
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="!dataForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="completed">
            <th mat-header-cell *matHeaderCellDef> Completed </th>
            <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
          </ng-container>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>
          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef> User Id </th>
            <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table> -->
     <h2>Table View</h2>
     <table border="1" class="gridView" [hidden]="hideTable">
        <thead>
            <th>Completed</th>
            <th>Id</th>
            <th>Title</th>
            <th>User Id</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
                <td>{{dataSource.completed}}</td>
                <td>{{dataSource.id}}</td>
                <td>{{dataSource.title}}</td>
                <td>{{dataSource.userId}}</td>
                <td>
                    <button mat-raised-button color="warn" (click)="deleteData()">Delete</button>
                </td>
            </tr>
        </tbody>
     </table>
    </div>
</div>
